html, body {
    background-color: #97BBFF;
    margin: 0;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

img {
    margin-left: 100px;
    margin-top: -100px;
}